.bindParent {
    width: 100%;
    /*height: 100vh;*/
    min-height: 100vh;
    background-image: url("../imgs/bg_bind_menu.png");
    background-size: 100% 100%;
    display: flex;
    /*box-sizing: border-box;*/
    flex-direction: column;
    padding: 0 35px;
    align-items: center;
}

.ant-avatar.ant-avatar-icon {
    margin-top: 70px;
    margin-bottom: 22px;
}

span.ant-input-affix-wrapper {
    width: 100%;
    height: 36px;
    margin-top: 14px;
    /*padding-left: 10px;*/
}

.bindParent .ant-input-affix-wrapper .ant-input {
    font-size: 14px;
    background: transparent;
    color: white;
    padding-left: 40px !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px white solid;
}

.bindParent .ant-input-affix-wrapper .ant-input:focus {
    border: none;
    border-bottom: 1px solid white !important;
    box-shadow: none;
}

.bindParent .ant-input-affix-wrapper .ant-input:hover {
    border: none;
    border-bottom: 1px solid white !important;
}

.inputIcon1 {
    width: 16px;
    height: 16px;
}

.inputIcon2 {
    width: 13px;
    height: 19px;
}

.inputIcon3 {
    width: 18px;
    height: 14px;
}

button.ant-btn.ant-btn-primary.ant-btn-block {
    height: 36px;
}

span.ant-input-group-addon {
    background: transparent;
    font-size: 13px;
    color: white;
    border: none;
    padding-top: 14px;
    border-bottom: 1px white solid;
    border-radius: 0;
}

.bindTitleLayout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 40px;
}

.bindTitleText {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 10px;
    letter-spacing: 2px;
}
