/*全局背景*/
#global_background{
    background-color: #F3F3F3;
}

#global_page_title{
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0px 10px 10px;
}

#row_background{
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    margin: 10px 10px 10px 10px;
    padding: 0px;
}

#row_margin{
    margin: 10px;
}

#margin_top_bottom_20{
     margin: 20px 0px 20px 0px;
 }

#margin_top_bottom_15{
    margin: 15px 0px 15px 0px;
}

#margin_top_bottom_10{
    margin: 10px 0px 10px 0px;
}

#row_center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/*居中*/
#row_center_align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#row_left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#global_row_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#row_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#padding10{
    padding: 10px;
}

/*公共分块*/
#page_block_min{
    height: 20px;
    background-color: #F3F3F3;
}


/*水平分割线*/
#page_horizontal_line{
    height: 1px;
    border-top: 1px solid #F3F3F3;
    text-align: center;
}

#global-clear{
    padding: 0px;
    margin: 0px;
}

#col-clear{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#col-clear-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#col-clear-end{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


#page_border_lightGreen{
    border: 1px solid lightgreen;
    padding: 0px;
    margin: 0px;
}

#page_border_line_red{
    border: 1px solid orangered;
    padding: 0px;
    margin: 0px;
}

#page_border_line{
    border: 1px solid #F3F3F3;
    padding: 0px;
    margin: 0px;
}

#span_18{
     font-size: 18px;
 }

#span_15{
    font-size: 18px;
}

#span_13{
    font-size: 18px;
}


#list_noBorder{
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;
    padding: 0px;
}

.span_15{
    font-size: 15px;
}
.span_16{
    font-size: 16px;
}
.span_17{
    font-size: 17px;
}

.span_18{
    font-size: 18px;
}
.span_19{
    font-size: 19px;
}
.span_20{
    font-size: 20px;
}
.color_black{
    color:black ;
}

.text_underline{
    color: #0098FD;
    text-decoration: underline;
}

.text_bold{
    font-weight: 600;
}
/* flex相关全局设置*/
.flex{
    display: flex;
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_column{
    display: flex;
    flex-direction: column;
}

.flex_row_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_row_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.flex_column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_center_vertical{
    display: flex;
    align-items: center;
}

.item_flex{
    flex: 1 0 auto;
}

.item_flex2{
    flex: 2 0 auto;
}

.item_flex_1{
    flex: 1;
}

.item_flex_3{
    flex: 0 0 33.3333%;
}


/*全局边距设置*/
.padding_10{
    padding: 10px;
}

.padding_15{
    padding: 15px;
}

.padding_left{
    padding: 15px 7px 15px 15px;
}

.padding_right{
    padding: 15px 15px 15px 7px;
}

.padding_20{
    padding: 20px;
}

.border_normal{
    border: 1px solid #f3f3f3;
}

.border_red{
   border: 1px solid red;
}

.border_lightGreen{
     border: 1px solid lightgreen;
 }

.clear_margin{
    margin: 0px;
    padding: 0px;
}

.no-border{
    border: 0px;
}
/*左右边距*/
.margin_left_right_20{
    margin: 0px 20px 0px 20px;
}

.margin_left_right_15{
    margin: 0px 15px 0px 15px;
}

.margin_left_right_10{
    margin: 0px 10px 0px 10px;
}

.margin_top_bottom_10{
    margin: 10px 0px 10px 0px;
}
.margin_top_bottom_15{
    margin: 15px 0px 15px 0px;
}

.margin_top_bottom_20{
    margin: 20px 0px 20px 0px;
}

.margin_top_20{
    margin: 20px 0px 0px 0px;
}

.margin_top_15{
    margin: 15px 0px 0px 0px;
}

.margin_top_10{
    margin: 10px 0px 0px 0px;
}

.margin_bottom_10{
    margin: 0px 0px 10px 0px;
}

.margin_bottom_15{
    margin: 0px 0px 15px 0px;
}

.margin_bottom_20{
    margin: 0px 0px 20px 0px;
}

.margin_bottom_5{
    margin: 0px 0px 5px 0px;
}



