.consume-item-root {
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.consume-item-top{

    width: 100%;
    display: flex;
    align-items: center;

}

.consume-item-name{

    width: 100px;
    padding: 20px 10px 20px 20px;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    color: #323232;

}

.consume-item-time{

    width: 100%;
    padding: 20px 10px 20px 20px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    color: #666666;

}

.consume-item-amount{

    letter-spacing: 1.38px;
    text-align: right;
    width: 100%;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    color: #ca0303;

}

.consume-select-root{

    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;

}


.consume-list-header {
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4197FC;
    letter-spacing: 1.88px;
}