/*消费*/
.consume-item-root {
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.consume-item-top{

    width: 100%;
    display: flex;
    align-items: center;

}

.consume-item-name{

    width: 150px;
    padding: 0px 10px 10px 10px;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    color: #323232;


}

.consume-item-time{

    width: 100%;
    padding: 0px 0px 0px 10px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    color: #666666;

}

.consume-item-amount{

    letter-spacing: 1.38px;
    text-align: right;
    width: 100%;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    color: #ca0303;

}

.consume-item-amountBlack{

    letter-spacing: 1.38px;
    text-align: right;
    width: 100%;
    font-size: 15px;
    font-family: PingFangSC-Regular;
    color: #ca0303;

}

.consume-select-root{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}


.consume-list-header {
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #4197FC;
    letter-spacing: 1.88px;
}

/*通知公告*/
.notify-bg-root{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;

}

.notify-item-root{
    width: 100%;
    height: 100%;
    margin: 20px 0px;


}

.notify-item-bg{

    border-radius: 8px;
    margin:0px 16px 0px 16px ;
    background-color: #FFFFFF;

}

.notify-item-top {

    display: flex;
    align-items: center;
    margin:0px 0px 0px 0px ;

}


.notify-item-title{

    width: 260px;
    height: 26px;
    text-align: left;
    margin: 10px 10px 0px 10px;
    font-size: 15px;
    color: #333333;


}
.notify-item-statuAl{

    width: 100%;
    text-align: right;
    margin: 4px 10px 0px 10px;
    color: #878787;


}

.notify-item-statuNo{

    width: 100%;
    text-align: right;
    margin: 0px 10px 0px 10px;
    color: #C70404;

}

.notify-item-line{

    margin-top: 1px;
    margin-left: 0px;
    margin-right: 20px;
    height: 1px;
    background-color: #F2F2F2;

}

.notify-item-content{

    margin: 10px 10px 10px 10px;
    color: #878787;
    font-size: 12px;

}

.notify-item-issuer{

    text-align: right;
    margin-right: 16px;
    color: #666666;
    font-size: 12px;
    font-family: PingFangSC-Regular;

}
.notify-item-time{

    text-align: right;
    margin-right: 16px;
    margin-bottom: 0px;
    color: #666666;
    font-size: 12px;
    font-family: PingFangSC-Regular;

}