.home-page-root {
    /*width: 100%;*/
    overflow-x: hidden;
}

.home-group-item-layout {
    padding: 15px 10px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-group-item-icon {
    width: 18px;
    height: 18px;
}

.home-group-item-text {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #888888;
    letter-spacing: 2px;
    padding-left: 6px;
}

.home-func-item-root {
    width: 25%;
    display: inline-block;
    padding: 10px;
}

.home-func-item-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-func-item-icon {
    width: 42px;
    height: 42px;
}

.home-func-item-text {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 1.6px;
    padding-top: 6px;
}

.home-top-layout-root {
    position: relative;
    background-image: linear-gradient(-180deg, #91CBE6 0%, #FFFFFF 100%, #1686FB 100%);
}

.home-top-msg-root {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 24px 0;
}

.home-top-msg-text {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #000000;
    letter-spacing: 2px;
    padding-left: 6px;
}

.home-top-menu-root {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 12px 0;
}

.home-top-menu-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-top-menu-icon {
    width: 18px;
    height: 18px;
}

.home-top-menu-text {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 1.87px;
    padding-left: 4px;
}

.home-student-layout-root {
    min-height: 46px;
    max-height: 80px;
    overflow-y: scroll;
    padding: 10px 26px;
}

.home-top-school-text {
    background: rgba(256, 256, 256, 0.4);
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 1.6px;
    padding: 2px 6px;
    position: absolute;
    top: 16px;
    right: 0;
}

.home-top-stu-layout {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    letter-spacing: 1.6px;
    padding: 5px 10px;
    float: left;
    text-align: center;
}

.home-top-stu-layout i.anticon.anticon-user {
    line-height: 23px;
}

.am-modal.am-modal-operation .am-modal-content .am-modal-button {
    text-align: center;
    padding: 0;
}

.home-albums-layout {
    height: 120px;
    width: 100%;
    background: rgba(60, 130, 214, 0.17);
    padding: 8px 4px;
    display: flex;
}

.home-albums-img {
    height: 100%;
    width: 100%;
}

.home-swiper-container {
    height: 140px;
    width: 100%;
    background: rgba(60, 130, 214, 0.17);
    padding: 8px 4px;
}

.home-swiper-container .swiper-slide {
    height: 100%;
    width: 140px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

