.pageLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
}

.headerLayout {
    width: 100%;
    background: #50C661;
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 1.88px;
}

.suggestInput {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 1.5px;
    outline: none;
    background: white;
    border: none;
    border-radius: 0;
    padding: 8px 13px;
}

.principal-uploadLayout {
    width: 100%;
    padding: 0 40px;
    margin-top: 20px;
}

.imagesLayout {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 12px;
    background: white;
}

.chooseLayout {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: white;
}

.annexText {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    letter-spacing: 1.88px;
}

.annexCount {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #7D7D7D;
    letter-spacing: 0;
    margin-left: 2px;
}

.wordCount {
    display: block;
    width: 100%;
    text-align: right;
    background: white;
    padding: 16px;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #7D7D7D;
    letter-spacing: 0;
}

.anonymousLayout {
    width: 100%;
    padding: 12px;
    background: white;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
}

.principal-item-root {
    width: 100%;
    padding: 0 15px 15px;
    background: white;
    border-radius: 6px;
}

.principal-item-top {
    width: 100%;
    display: flex;
    height: 45px;
    align-items: center;
    border-bottom: 1px solid #F2F2F2;
}

.principal-item-time {
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #303030;
    letter-spacing: 2px;;
}

.principal-item-status-todo, .principal-item-status-done {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    letter-spacing: 1.62px;
}

.principal-item-status-todo {
    color: #CE1212;
}

.principal-item-status-done {
    color: #5D5D5D;
}

.principal-item-content {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 1.5px;
    margin: 10px 0;
}

.principal-item-delete {
    background: #4197FC;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 3px 9px;
    width: max-content;
}

.principal-enclosure-layout {
    width: 100%;
    position: relative;
}

.principal-enclosure-img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
}

.principal-enclosure-count {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 2px;
    position: absolute;
    bottom: 2px;
    left: 120px;
}