.foot_input_view{
    min-height: 50px;width: 100%;position: fixed;bottom: 0;background-color: #F2F2F2;
}
.comH_view{
    display: flex;flex-direction: row;margin-right: 10px;
}
.send_btn{
    width:80px;
    height: 36px;
    background: #4197Fc;
    color: white;
    border-radius: 9px;
    font-size: 15px;
    text-align: center;
    margin: 12px 10px;
}
.textarea_sty {
    border: none;
    color: #333333;
    padding: 10px 20px;
    font-family: PingFangSC-Regular;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.homework-detail-leave-name {
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    letter-spacing: 0;
    width: 80px;
    padding-left: 20px;
}

.homework-detail-leave-content {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    padding-right: 10px;
    flex: 1;
    word-break: break-all;
    overflow: hidden;
}