/*@import "~antd/dist/antd.css";*/

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-enter,
.fade-appear {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-enter-active,
.fade-apper-active {
    opacity: 1;
}

.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    /*opacity: 0;*/
    /*transition: opacity 1s ease-in;*/
    opacity: 1;
}

.fade-exit-done {
    /*opacity: 0;*/
    opacity: 1;
}

/***************************antd样式****************************************/

span.ant-upload-list-item-actions {
    width: 100%;
    height: 100%;
    opacity: 1 !important;
}

i.anticon.anticon-eye-o {
    width: 100% !important;
    height: 100% !important;
}

i.anticon.anticon-eye-o svg {
    width: 0;
    height: 0;
}

i.anticon.anticon-delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

i.anticon.anticon-delete svg {
    opacity: 1;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 4px;
}

.am-list-content {
    flex: none;
    font-family: PingFangSC-Regular;
    font-size: 12px !important;
    color: #333333;
    letter-spacing: 1.88px;
}

.am-list-extra {
    flex: 1;
    font-size: 13px !important;
}

.ant-select-dropdown.ant-select-tree-dropdown.ant-select-dropdown--multiple.ant-select-dropdown-placement-bottomLeft {
    max-height: 260px !important;
}

.ant-select-dropdown.ant-select-tree-dropdown.ant-select-dropdown--multiple.ant-select-dropdown-placement-topLeft {
    max-height: 260px !important;
}

.ant-select-selection--multiple {
    max-height: 100px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

span.ant-select-selection.ant-select-selection--multiple {
    border: none;
}

.am-modal-content {
    background: transparent !important;
    z-index: 1000000!important;
}

.am-modal-transparent .am-modal-content {
    background: white !important;
    z-index: 1000000!important;
}

.am-modal.am-modal-transparent{
    z-index: 1000000!important;
}


/***************************公共样式****************************************/
.common-column-layout {
    width: 100%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    background: white;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.common-add-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 54px;
    color: #3db1af;
    z-index: 10;
}

.common-record-text {
    margin: 30px auto 0;
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #4197FC;
    letter-spacing: 0;
    border-bottom: 1px solid #4197FC;
}

.common-load-more {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray-line {
    width: 100%;
    background: #F2F2F2;
    height: 10px;
}

.displayNone {
    display: none;
}

.commonButton {
    letter-spacing: 10px;
    border-radius: 9px;
    font-size: 14px;
    color: white;
    background: #4197FC;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
    flex: 1;
    background: white;
}

.swiper-wrapper {
    /*background: red;*/
}

.swiper-slide {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.phone-select-root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.identity-select {
    display: flex;
    flex-direction: row;
}

.identity-item-normal, .identity-item-select {
    flex: 1;
    background: white;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: 1.88px;
    text-align: center;
    height: 42px;
    line-height: 42px;
}

.identity-item-normal {
    color: #666666;
    border-bottom: 1px solid #F3F3F3;
}

.identity-item-select {
    color: #4197FC;
    border-bottom: 1px solid #4197FC;
}

.common-flex-row-10 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.common-font-family {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: 0;
}

