@import "~antd/dist/antd.css";

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gray-line {
    width: 100%;
    background: #F2F2F2;
    height: 10px;
}

.displayNone {
    display: none;
}

.commonButton {
    letter-spacing: 10px;
    border-radius: 9px;
    font-size: 14px;
    color: white;
    background: #4197FC;
}
